<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>About us</h2>
        <p>Magna ea esse ex cupidatat reprehenderit Lorem tempor laboris nostrud minim culpa.</p>
        <p>Dolore cillum do est occaecat occaecat amet excepteur sit cillum aliquip eiusmod officia est eiusmod.</p>
        <p>Sunt nulla eu labore ut duis anim in deserunt Lorem.</p>
    </div>
</body>
<%- include('./partials/footer.ejs') %>
</html>